* {
    margin:0px;
    padding:0px;
    background-color:#232946;

 }

.container {
display:flex;
justify-content: center;
width:100vw;
height:100vh;
margin-top:100px;
    /* display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:'nav main projects';
    grid-gap:5px; */
}

#title {
    font-size:80px;
    text-align: center;
    color:#fffffe;
    font-family: 'Karla', sans-serif;
}

.intro {
    font-size:20px;
    color:#b8c1ec;
    font-family: 'Karla', sans-serif;
    text-align: center;
    line-height: 2em;
}
#github {
    height:10vh;
}
