* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'lato';
  overflow-x: hidden;
}

.hover-color {
  background-color: rgb(81, 176, 231);
}

body {
  margin: 70px;
  background-color: #A1C6E3;
}

@font-face {
  font-family: "";
  src: url(/fonts/.ttf);
}

.display-none {
  display:none;
}

.top-secret-btn {
  border: none;
  height: 10px;
  width: 40px;
}

#cvHeader {
  text-align: center;
  padding: 30px;
}


.small {
  font-size: 12px;
}

.smaller {
  font-size: 8px;
  opacity: 0.8;
}

.smalling {
  font-size: 6px;
  opacity: 0.4;
}

.fa-barcode:hover {
  color: rgb(205, 35, 235);
}

.avatar {
  width: 200px;
  height: 200px;

}

#navigation {
  display: flex;
  justify-content: space-between;
  background: whitesmoke;
  padding: 80px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border-radius: 10px 10px 0 0;
}


.navigation-items {
  display: flex;
  line-height: 2em;
  border-radius: 10px 10px 10px 10px;
  opacity: 0.2;
  pointer-events: none;

}

.nav-item {
  text-decoration: none;
  font-size: 16px;
  padding: 0px 40px;
  list-style-type: none;
  text-transform: uppercase;
  text-shadow: 2px 2px 7px rgba(150, 150, 150, 0.63);

}

.nav-item:hover {
  color: black;

}

.introBox {
  display: flex;
  background: whitesmoke;
  text-align: center;
  padding-top: 40px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  justify-content: center;
  border-radius: 0px 0px 20px 20px;

}

.intro {
  font-size: 26px;
  padding-top: 50px;
  width: 650px;
}

.tech {
  background-image: linear-gradient(135deg, #fff886 10%, #f072b6 100%);
}

.opacity {
  opacity: 0.1;
  font-size: 10px;
  position: relative;
  top: -15px;
}

.opacity:hover {
  opacity: 1;
  font-size: 30px;
  position: relative;
  top: 0px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.weeklyUpdate {
  margin: 20px 40px 0 0;
  display: flex;
  justify-content: space-around;
  width: 300px;
  height: auto;
}

.weeklyUpdate img {
  width: 250px;
  height: 250px;
}

.name {
  font-size: 16px;
  display: flex;
  margin-left: 30px;
}

.name i {
  margin: 4px 20px 0px 0px;
  font-size: 30px;
}


.gallery-images {
  text-align: center;
}

.placeholder {
  width: 300px;
  height: 300px;

}

.invert {
  filter: invert(70%);
}


.div-center {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  display: none;
}

.project-description {
  line-height: 28px;
  font-size: 15px;
}

#two-column {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  box-shadow: rgb(0 0 0 / 7%) 0px 1px 1px, rgb(0 0 0 / 7%) 0px 2px 2px, rgb(0 0 0 / 7%) 0px 4px 4px, rgb(0 0 0 / 7%) 0px 8px 8px, rgb(0 0 0 / 7%) 0px 16px 16px;
  background: whitesmoke;
  padding: 40px 30px;
  border-radius:20px;
}

.cv {
  width: 100%;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  background: whitesmoke;
  padding-bottom: 100px;
  border-radius:20px;
}

.center-align {
  display: flex;
  justify-content: center;
}

.link-style {
  text-decoration: none;
}


.project-container {
  justify-content: center;
  padding: 10% 20%;
}

.header {
  padding: 20px 0;
}

.icons {
  font-size: 40px;
}

.cv-gold-header {
  color: black;
  text-align: left;
  padding-left: 100px;
  font-size: 22px;
  padding-bottom: 15px;
}

.heading {
  text-align: center;
  padding: 30px 20px 30px 20px;
  display: block;
  font-size: 25px;
  animation: arrowMoving 1.5s infinite;
}


@keyframes arrowMoving {
  0% {
    position: relative;
    top: 0px;
    animation-timing-function: ease-in;
  }

  25% {
    position: relative;
    top: 5px;
    animation-timing-function: ease-in;

  }

  50% {
    position: relative;
    top: 10px;
    animation-timing-function: ease-in;

  }

  75% {
    position: relative;
    top: 5px;
    animation-timing-function: ease-in;

  }

  100% {
    position: relative;
    top: 0px;
    animation-timing-function: ease-in;

  }
}



.contact {
  text-align: center;
  padding: 25px 0;
}

.download-btn {
  width: 160px;
  height: 40px;
  font-size: 15px;
  background-color: #dec79b;
  border-radius: 10px;
  border: 1px solid #1c1c1c;
}

.cv-section {
  position: relative;
  padding: 30px 0 30px 100px;

}

.gallery {
  /* padding: 0 50px; */
}

.logo {
  position: absolute;
  margin: -5px 10px;
  width: 75px;
}

.white-para {
  font-size: 15px;
  text-align: center;
  line-height: 35px;
  padding: 20px 60px;
}

.white-para-left {
  font-size: 15px;
  text-align: left;
  padding-left: 100px;
  line-height: 20px;
  padding-right: 90px;
}

.nav-header {
  color: #dec79b;
  font-size: 20px;
}

.project-text {
  padding: 0 50px;

  width: 400px;
}

.sub-header {
  font-size: 15px;
  opacity: 0.5;
}

.title-sub-header {
  font-size: 15px;
  opacity: 0.5;
  display: flex;
  text-align: center;
  padding: 40px 100px;
  line-height: 35px;

}

.email {
  padding: 20px 0;
  letter-spacing: 6px;

}

.icon-position {
  color: #dec79b;
  font-size: 60px;
  padding: 20px 20px 20px 20px;
  text-align: center;

}

.project-title {}

.center-mobile {
  padding-left: 50px;
  width: 500px;
}

.center {
  width: 500px;
  padding-left: 50px;
}

.fa-behance-square:before {
  padding: 0 50px;
}

#icon {
  color: black;
  font-size: 70px;
}

.placeholder-mobile {
  display: none;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

#page-options {
  display: flex;
  justify-content: center;
  height: auto;
  background-color: grey;
}

#page-option-container {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#page-option-image {
  width: 250px;
  border: 1px solid white;
  margin: 10px;
}

#page-option-image:hover {
  width: 260px;
  border: 1px solid blue;
}














@media only screen and (max-width: 768px) {


  body {
    margin: 0px !important;
    overflow-x: hidden;
  }

  .display-none {
    display:none;
  }

  .avatar {
    width: 150px;
    height: 150px;
  }

  #navigation {
    justify-content: center;
    padding: 10px;
  }

  .name {
    font-size: 20px;
    text-align: center;
    margin-left: 0px !important;
    margin-top: 10px;
  }

  .intro {
    font-size: 14px;
    width: 90vw;
    padding: 25px 0px;
    line-height: 30px;
  }

  .introBox {
    display: block;
    padding-top: 20px;
  }

  .container {
    width: 90vw;
    padding: 20px;
  }

  .center-align {
    margin: 100px 0px;
    padding: 0px 0px;
    justify-content: center;
  }

  .placeholder-position {
    display: flex;
    justify-content: center;
  }

  .placeholder-mobile {
    display: flex;
    width: 50vw;
  }

  .nav-item {
    padding: 10px 10px;
    font-size: 14px;
    display: none;
  }

  .icons {
    font-size: 20px;
    text-align: center;
    display: block;
    padding: 0px;
    width: 300px;
  }

  .cv {
    width: 90vw;
    border: none;
  }

  .cv-gold-header {
    font-size: 16px;
  }

  .cv-section {
    padding: 30px 0px;
  }

  .introBox {
    display: block;
    width: 100%;
  }

  #cvHeader {
    text-align: center;
    display: block;
    padding-top: 30px;
  }

  .placeholder {
    display: none;

  }

  #two-column {
    display: block;
  }

  .project-title {
    display: none;
  }

  .project-description {
    color: black;
    line-height: 28px;
    font-size: 15px;
    margin-top: -50px;
    text-align: center;
    width: 80vw;
    padding-top: 30px;
  }

  .link-style {
    display: none;
  }

  .center {
    width: 100vw;
    padding-left: 0px;
  }

  #heading {
    font-size: 25px;
    width: 90vw
  }

  .contact {
    width: 90vw;
  }

  #two-column {
    width: 85vw;
    padding: 10px;
    margin-bottom: 20px;
  }

  .heading {
    width: 80vw;
  }

  .gallery {
    padding: 0 0px;
    width: 100vw;
  }

  .white-para-left {
    color: black;
    font-size: 14px;
    padding: 20px 20px;
    line-height: 20px;

  }

  .title-sub-header {
    font-size: 15px;
    color: #fff;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
  }

  .gold-header {
    font-size: 40px;
    margin-top: 80px;
  }
}

@media only screen and (max-width: 600px) {
  .icons {
    padding: 10px 10px;
  }

  .email {
    letter-spacing: 0px;
  }

  .icon-position {
    padding: 10px 10px;
    font-size: 30px;
  }
}